* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #434343 0%, rgb(43, 38, 38) 100%);
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    overflow: hidden;
    max-width: 85%;
    height: auto;
}

.slider__items {
    display: flex;
    width: 400%;
    height: 100%;
}

.slider__item {
    width: 25%;
    transition: .5s;
    display: flex;
}

.slider__item_img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

.slider__elements {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    flex-direction: row-reverse;
}

.slider__text {
    height: 8rem;
}

.slider__text .text {
    opacity: 0;
    font-size: 2rem;
    color: rgb(168, 168, 170);
    align-items: center;
    text-shadow: .1rem .1rem .3rem #ff99cc;
    margin: 0;
    transition:.5s;
    height: 2rem;
}

.slider__descr_items {
    display: flex;
}

.slider__descr_item {
    cursor: pointer;
}

.circle {
    width: 2rem;
    height: 2rem;
    margin: 0 0.5em;
    border-radius: 50%;
    background-color: #485563;
    border: .2rem solid rgb(143, 135, 135);
}

/* IT'S NOT A PSEUDOELEMENT, IT'S PSEUDOCLASS */
.circle:active {
    background: transparent;
}

/* IT'S NOT A PSEUDOELEMENT, IT'S PSEUDOCLASS */
.circle:hover {
    background: #a5b5c9;
    box-shadow: 0 0 .5rem #fff;
}

#input1, 
#input2, 
#input3,
#input4 {
    visibility: hidden;
    width: 0;
    height: 0;
}

/* BELOW IT'S NOT A PSEUDOELEMENTES, IT'S PSEUDOCLASSES */
#input1:checked ~ .slider__items .input1 {
    transition: 1.5s;
}

#input2:checked ~ .slider__items .input1 {
    margin-left: -25%;
    transition: 1.5s;
}

#input3:checked ~ .slider__items .input1 {
    margin-left: -50%;
    transition: 1.5s;
}

#input4:checked ~ .slider__items .input1 {
    margin-left: -75%;
    transition: 1.5s;
}

#input1:checked ~ .slider__elements .slider__descr_items .item1 .circle {
    background-color: #a5b5c9;
    box-shadow: 0 0 .8rem #fff;
}

#input2:checked ~ .slider__elements .slider__descr_items .item2 .circle {
    background-color: #a5b5c9;
    box-shadow: 0 0 .5rem #fff;
    transition: .5s;
}

#input3:checked ~ .slider__elements .slider__descr_items .item3 .circle {
    background-color: #a5b5c9;
    box-shadow: 0 0 .5rem #fff;
}

#input4:checked ~ .slider__elements .slider__descr_items .item4 .circle {
    background-color: #a5b5c9;
    box-shadow: 0 0 .5rem #fff;
}

#input1:checked ~ .slider__elements .slider__text .text1 {
    opacity: 1;
    transition: .5s;
}

#input2:checked ~ .slider__elements .slider__text .text2 {
    opacity: 1;
    transition: .5s;
    transform: translateY(-2rem);
}

#input3:checked ~ .slider__elements .slider__text .text3 {
    opacity: 1;
    transition: .5s;
    transform: translateY(-4rem);
}

#input4:checked ~ .slider__elements .slider__text .text4 {
    opacity: 1;
    transition: .5s;
    transform: translateY(-6rem);
}

@media (max-width: 768px) {
    .slider__elements {
        flex-direction: column;
    }
    
    .slider__descr_items {
        align-self: center;
    }

    .slider__text {
        margin-top: 2rem;
    }

    .slider__text .text {
        font-size: 1.5rem;
    }
}